$main-color: #ff9c1a;
$main-width: 1440px;
$color-link: #884900;
$color-ligth: #db4e66;

* {
    margin: 0;
    padding: 0;
}

.header {
    width: $main-width;
    background: $main-color;
    padding: 42px 136px 30px 156px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

&-wrp {
    display: flex !important;
    justify-content: space-between;
}

